input:checked+svg {
    display: block;
    color  : white;
}

.checkbox:has(input:checked) {
    background-color: rgb(34, 34, 34) !important;
}

.card-content {
    overflow-y        : scroll;
    scrollbar-width   : none;
    -ms-overflow-style: none;
}

.card-content::-webkit-scrollbar {
    width : 0;
    height: 0;
}

.search-list,
.box-list {
    visibility: hidden;
}

.input-active .search-list,
.input-active .box-list {
    visibility: visible;
}

.photo-box {
    overflow: overlay !important;
}