@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: overlay;
}

.fadein {
	position: relative;
	animation: animatebottom 0.5s;
}

@keyframes animatebottom {
	from {
		bottom: -400px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
