.card-prev.swiper-button-disabled,
.card-next.swiper-button-disabled {
  display: none;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}
